<%= form_for @iterative_chain, url: {action: "finish"}, html: {class: "iterative-chains-testing"} do |f| %>
	<% if @phone_to_sem %>
		<div class="sem-to-phone">
			<h1>Testing</h1>
			<p>Sem to phone</p>
			<div class='main-stimuli'>
				<% @sems.each_with_index do |sem, index| %>
					<% if index == 0 %>
						<div class='img-wrapper testing show'>
					<% else %>
						<div class='img-wrapper'>
					<% end %>
							<%= image_tag(Image.find(sem).image) %>
							<input class="image" id="<%= 'testing_pairs_' + index.to_s + '_image'%>" type="hidden" name="<%= 'testing_pairs[][image]'%>" value="<%= sem %>">
							<input class="sound" id="<%= 'testing_pairs_' + index.to_s + '_sound'%>" type="hidden" name="<%= 'testing_pairs[][sound]'%>" value="">
						</div>
				<% end %>
			</div>
			<div class="choices-wrapper">
				<% @phones.each_with_index do |phone, index| %>
					<div class='choice'>
						<div class='audio-wrapper'>
							<input class="play" type="button" value="Play Word"/>
							<%= content_tag(:audio, phone, :controls => "controls") do %>
								<%= content_tag(:source, "", :src => Sound.find(phone).sound) %>
							<% end %>
						</div>
						<input class="audio-input" name="sem_to_phone" type="radio" value="<%= phone %>"/>
						<div class="already-selected-text">Already Selected</div>
					</div>
				<% end %>
			</div>
			<input class="next" type="button" value="Next">
		</div>
	<% else %>
		<div class="phone-to-sem">
			<h1>Testing</h1>
			<p>Phone to sem</p>
			<div class='main-stimuli'>
				<input class="play-again" type="button" value="Play Word Again"/>
				<% @phones.each_with_index do |phone, index| %>
					<% if index == 0 %>
						<div class='audio-wrapper testing'>
					<% else %>
						<div class='audio-wrapper'>
					<% end %>
							<%= content_tag(:audio, phone, :controls => "controls") do %>
								<%= content_tag(:source, "", :src => Sound.find(phone).sound) %>
							<% end %>
							<input class="image" id="<%= 'testing_pairs_' + index.to_s + '_image'%>" type="hidden" name="<%= 'testing_pairs[][image]'%>" value="">
							<input class="sound" id="<%= 'testing_pairs_' + index.to_s + '_sound'%>" type="hidden" name="<%= 'testing_pairs[][sound]'%>" value="<%= phone %>">
						</div>
				<% end %>
			</div>
			<div class="choices-wrapper">
				<% @sems.each_with_index do |sem, index| %>
					<div class='choice'>
						<div class='img-wrapper'>
							<%= image_tag(Image.find(sem).image) %>
						</div>
						<input class="img-input" name="phone_to_sem" type="radio" value="<%= sem %>"/>
						<div class="already-selected-text">Already Selected</div>
					</div>
				<% end %>
			</div>
			<input class="next" type="button" value="Next">
		</div>
	<% end %>
  <%= f.submit "Create" %>
<% end %>