<% if @phone_to_sem %>
	<div class="testing sem-to-phone">
		<h1>Testing</h1>
		<p>Sem to phone</p>
		<div class='main-stimuli'>
			<% @sems.each_with_index do |sem, index| %>
				<% if index == 0 %>
					<div class='img-wrapper testing show'>
				<% else %>
					<div class='img-wrapper'>
				<% end %>
						<%= image_tag(sem) %>
					</div>
			<% end %>
		</div>
		<div class="choices-wrapper">
			<% @phones.each_with_index do |phone, index| %>
				<div class='choice'>
					<div class='audio-wrapper'>
						<input class="play" type="button" value="Play Word"/>
						<%= content_tag(:audio, phone, :controls => "controls") do %>
							<%= content_tag(:source, "", :src => phone) %>
						<% end %>
					</div>
					<input class="audio-input" name="sem_to_phone" type="radio"/>
				</div>
			<% end %>
		</div>
		<input class="next" type="button" value="Next">
	</div>
<% else %>
	<div class="testing phone-to-sem">
		<h1>Testing</h1>
		<p>Phone to sem</p>
		<div class='main-stimuli'>
			<input class="play-again" type="button" value="Play Word Again"/>
			<% @phones.each_with_index do |phone, index| %>
				<% if index == 0 %>
					<div class='audio-wrapper testing'>
				<% else %>
					<div class='audio-wrapper'>
				<% end %>
						<%= content_tag(:audio, phone, :controls => "controls") do %>
							<%= content_tag(:source, "", :src => phone) %>
						<% end %>
					</div>
			<% end %>
		</div>
		<div class="choices-wrapper">
			<% @sems.each_with_index do |sem, index| %>
				<div class='choice'>
					<div class='img-wrapper'>
						<%= image_tag(sem) %>
					</div>
					<input class="img-input" name="phone_to_sem" type="radio"/>
				</div>
			<% end %>
		</div>
		<input class="next" type="button" value="Next">
	</div>
<% end %>